# 依赖目录
node_modules/
netlify.toml

# Netlify 本地文件
.netlify/

# 环境变量文件
.env

# 包锁定文件 (根据项目需要选择是否忽略)
package-lock.json
package.json

# 系统文件
.DS_Store
Thumbs.db

# 编辑器/IDE 文件
.idea/
.vscode/
*.swp
*.swo

.gitattributes

FileTree_Structured.txt

FileTreeGenerator.ps1